 <footer>
    <div class="items">
      <div class="items__list">
        <div class="items__element">
          <ul>
            <li><h3>بانواز</h3></li>
            <li>خانه</li>
            <li>فروشگاه</li>
            <li>ورود به داشبورد</li>
          </ul>
        </div>
        <div class="items__element">
          <ul>
            <li><h3>فروشگاه</h3></li>
            <li>دستگاه مرکزی</li>
            <li>سنسورهای داخلی</li>
            <li>سنسورهای خارجی</li>
         </ul>
        </div>
        <div class="items__element">
          <ul>
            <li><h3>دانلود اپلیکیشن</h3></li>
            <li><img src="./asssets/img/GooglePlayBadge.png" alt=""></li>
            <li><img src="./asssets/img/AppStoreBadge.png" alt=""></li>
          </ul>
      </div>
        <div class="items__element">
          <ul>
            <li><h3>بانواز</h3></li>
            <li>درباره بانواز</li>
            <li>وبلاگ</li>
            <li>موقعیت های شغلی</li>
            <li>تماس با ما</li>
          </ul>
       </div>
      </div>
      <hr>
      <div class="items__icons">
        <div class="items__images">
          <div>
            <img src="./asssets/img/SocialIcons.png" alt="">
          </div>
          <div>
            <img src="./asssets/img/SocialIcons (1).png" alt="">
          </div>
          <div>
            <img src="./asssets/img/SocialIcons (2).png" alt="">
          </div>
          <div>
            <img src="./asssets/img/SocialIcons (3).png" alt="">
          </div>
        </div>
        <div>
          <p>
           .تمامی حقوق متعلق به بانواز میباشد
          </p>
        </div>
      </div>
    </div>
  </footer>