<section class="gallery">
    <div>
      <h1>قابلیت های ویژه بانواز</h1>
    </div>
    <div class="gallery__container">
      <div class="gallery__content">
        <picture>
          <source media="(min-width:1024px )" srcset="./asssets/img/8.png">
          <img src="./asssets/img/Cover(3).png" alt="">
        </picture>
        <p>
           سنسورهایی که برای حیوان
            های خانگی شما نصب
             میشن میتونن با هوش 
             مصنوعی گرسنه بودن اون
              !رو تشخیص بدن
        </p>
      </div>
      <div class="gallery__content">
          <picture>
            <source media="(min-width:1024px )" srcset="./asssets/img/5.png">
            <img src="./asssets/img/Cover(2).png" alt="">
          </picture>
          <p>
              با محاسبه حرارت اطراف
               خاک گیاهان میشه فهمید
                کی باید دوباره به گیاه ها 
                !آب بدی 
          </p>
      </div>
      <div class="gallery__content">
        <picture>
          <source media="(min-width:1024px )" srcset="./asssets/img/7.png">
          <img src="./asssets/img/Cover.png" alt="">
        </picture>
        <p>
            باز و بسته شدن درب ها و
             پنجره ها، تشخیص حضور 
             انسان و کلی قابلیت دیگه
              !در سنسور های بانواز
        </p>
      </div>
      <div class="gallery__content">
        <picture>
          <source media="(min-width:1024px )" srcset="./asssets/img/6.png">
          <img src="./asssets/img/Cover(1).png" alt="">
        </picture>
        <p>
           میتونی مدت زمان روشن
            بودن دستگاه های الکتریکی
             .رو کنترل کنی 
             یا حتی برای روشن بودن
              .اونها از بانواز کمک بگیری
        </p>
      </div>
    </div>
  </section>