<header>
   <div class="header">
     <div class="header__img">
       <div class="header__img--home">
         <picture>
            <source media="(min-width:1024px)" srcset="./asssets/img/Group124(1).png">
           <img src="./asssets/img/Group124.png" alt="">
         </picture>
       </div>
       <div class="header__img--phone">
         <picture>
           <source media="(min-width:1024px)" srcset="./asssets/img/iPhone12Mini.png"/>
           <img src="./asssets/img/iPhone12Mini1.png" alt="">
         </picture>
       </div>
     </div>
     <div class="header__content">
      <h2>!خیالت از خونه راحت</h2>
      <p>
     <br>
        بانواز واژه‌ای کردی به معنای باخبر ساختن با <br>!صدای بلند است. درست مثل بانواز<br>با سنسورهای بانواز از هیچ اتفاقی بی خبر<br> !نیستی<br> .چه خونه باشی چه نه 
     </p>
    <div>
       <button class="btn ">فروشگاه بانواز</button>
    </div>
     </div>
   </div>
 </header>