<nav>
   <div class="menu">
     <div class="menu__burger">
       <div class="menu__img">
         <img src="./asssets/img/Group 2355.png" alt="">
        </div>
        <button href="#" class="btn btn--mobile">فروشگاه بانواز</button>
      </div>
      <div class="menu__buttons">
       <button href="#" class="btn btn--white">دانلود اپلیکیشن</button>
       <button href="#" class="btn btn--dark">ورود به داشبورد</button> 
      </div>
      <div class="menu__navbar">
        <ul class="hidden">
          <li><a>خانه</a></li>
          <li><a>فروشگاه</a></li>
          <li><a>درباره ما</a></li>
        </ul>
      </div>
      <img class="menu__logo" src="./asssets/img/Logo.png" alt="">
   </div>
 </nav>