 <section class="mobile-managment">
    <div class="mobile-managment__container">
      <div class="mobile-managment__img">
          <picture>
            <source media="(min-width:1024px)" srcset="./asssets/img/iPhone12Mini-blue.png">
            <img src="./asssets/img/31.png" alt="">
          </picture>
      </div>
      <div class="mobile-managment__content">
        <h2>!مدیریت خانه روی گوشی</h2>
        <p>
           با دانلود اپلیکیشن بانواز میتونی تمامی
            سنسورها رو روی گوشیت مشاهده و 
            .کنترل کنی
        </p>
        <div>
          <button class="btn">
              فروشگاه بانواز
          </button>
          <button class="btn">
            دانلود اپلیکیشن
          </button>
        </div>
      </div>
    </div>
  </section>