<section class="products">
    <div class="products__items">
      <div>
        <picture>
          <source media="(min-width:1024px)" srcset="./asssets/img/Plug(9).png">
          <img src="./asssets/img/Plug.png" alt="">
        </picture>
          <h5>گرمایی</h5>
          <h4>گرمایشی</h4>
      </div>
      <div>
        <picture>
          <source media="(min-width:1024px)" srcset="./asssets/img/Plug(8).png">
          <img src="./asssets/img/Plug(1).png" alt="">
        </picture>
        <h5>روشنایی</h5>
      </div>
      <div>
        <picture>
          <source media="(min-width: 1024px)" srcset="./asssets/img/Plug(6).png">
          <img src="./asssets/img/Plug(2).png" alt="">
        </picture>
        <h5>وسایل برقی</h5>
      </div>
      <div>
        <picture>
          <source media="(min-width:1024px)" srcset="./asssets/img/Plug(7).png">
          <img src="./asssets/img/Plug(3).png" alt="">
        </picture>
        <h5>گل و گیاه</h5>
      </div>
      <div>
        <picture>
          <source media="(min-width: 1024px)" srcset="./asssets/img/Plug(5).png">
          <img src="./asssets/img/Plug(4).png" alt="">
        </picture>
        <h5>درب و پنجره</h5>
      </div>
      <div>
        <picture>
          <source media="(min-width:1024px)" srcset="./asssets/img/Group2343.png">
          <img src="./asssets/img/Group2344(1).png" alt="">
        </picture>
        <h5>حیوانات</h5>
      </div>
    </div>
  </section>