<section class="setting">
    <div class="setting__container">
      <div class="setting__img">
        <picture>
          <source media="(min-width:1024px )" srcset="./asssets/img/image3.png">
          <img src="./asssets/img/image4.png" alt="">
        </picture>
      </div>
      <div class="setting__content">
        <h3>!دارای تنظیمات مخصوص کودکان</h3>
        <p> !نگران تغییر تنظیمات بانواز توسط فرزند عزیزت نباش</p>
        <div>
          <button class="btn">فروشگاه بانواز</button>
          <button class="btn setting__btn">دانلود بروشور</button>
        </div>
      </div>
      </div>
  </section>